<ons-navigator>
    <ons-page ng-controller="home">
        <ons-toolbar >           
             <div class="center">Home</div>
             <div class="right">
                <ons-toolbar-button  ng-model="edit" ng-click=" edit=!edit" ng-show="!edit">
                  <ons-icon icon="ion-compose"></ons-icon>
                </ons-toolbar-button>

                <ons-toolbar-button  ng-model="edit" ng-click="edit=!edit || save()" ng-show="edit">
                  บันทึก
                </ons-toolbar-button>
             </div>
             
             
        </ons-toolbar>        
        <ons-list style="margin: -1px 0" >
            <ons-list-header ng-show="edit">
                <ons-row>
                    <ons-col width="100px"><div style="margin-left: 0px;">picture</div></ons-col>
                    <ons-col>device</ons-col>
                    <ons-col><div class="pin">pin</div></ons-col>
                </ons-row>
            </ons-list-header>
            <ons-list-item  class="item" ng-repeat="i in light">
                <ons-row ng-show="!edit">
                    <ons-col width="100px" >
                        <img ng-src={{i.pic}} class="to-image" ng-click="doSomething()">
                    </ons-col>
                    <ons-col class="item-name">                       
                            <div>{{i.name}}</div>
                    </ons-col >
                    <ons-col modifier="inset" align="right" class="item-switch" width="50px" >
                        <label class="switch">
                          <input type="checkbox" class="switch__input" ng-model="i.status" ng-click="httpSend(i.pin, i.status)">
                          <div class="switch__toggle"></div>
                         </label>
                    </ons-col>
                </ons-row>
                 <ons-row ng-show="edit">
                    <ons-col width="100px" >
                        <img ng-src={{i.pic}} class="to-image" ng-click="changPhoto(i.id)">
                    </ons-col>
                    <ons-col class="item-name">                       
                        <input type="text" class="text-input text-input--transparent"
                        ng-model="i.name"  maxlength="15" max="10">
                    </ons-col >
                    <ons-col modifier="inset" align="right" class="item-name" width="30px" >
                        <input type="text" class="text-input text-input--transparent"
                        ng-model="i.pin" maxlength="2" max="2">
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
        <div>{{pic[0]}}</div>
    </ons-page>
</ons-navigator>


<style type="text/css">
    
    .pic{
        margin: auto; border: 1px;
    }

    .item-name{
      /* margin-left: 0px;
       margin-top: 20px; */
       margin: 20px 0px;    
       font-weight: 500;
       font-size: 16px;             
      
    }

    .item-switch{
       margin-top: 15px;
       margin-right: 5px;
    }

    .to-image {
      width: 80px;
      height: 60px;
      padding: 0px;
      border-radius: 4px;
      -webkit-border-radius: 4px;     
    }

    div.nameDevice{
          position: absolute; 
          right: 65px;
          top: 4px;
          font-size:15px;
    }

    div.pin{
          position: absolute; 
          right: 20px;
    }
    #button_ip{
        font-size:15px; 
        height:44px; 
        width:60px;
    }

    #inputinlist{
        font-size:17px;
        text-align: right;

    }

     div.button_ip{
          top: 4px;
          position: absolute; 
          right: 10px;
    }

</style>